<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                        <img class="w-full h-full object-cover" *ngIf="user.image" [src]="user.image">
                        <mat-icon class="w-full h-full object-cover" *ngIf="!user.image" [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
                    </div>
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                                {{t('welcome-back')}}, {{user.fname}} {{user.lname}}</div>
                        </ng-container>
                        <div class="flex items-center">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bell'"></mat-icon>
                            <div class="ml-1.5 leading-6 truncate text-secondary">คุณได้รับแจ้งจดหมาย 3 ฉบับ กรุณาตรวจสอบ
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                    <button class="fuse-mat-button-rounded bg-accent-700" mat-flat-button [color]="'accent'">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                        <span class="ml-2">กล่องข้อความ</span>
                    </button>
                    <button class="fuse-mat-button-rounded" mat-flat-button [color]="'primary'">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog'"></mat-icon>
                        <span class="ml-2">การตั้งค่า</span>
                    </button>
                </div>
            </div>

        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-row space-x-1 p-1 sm:p-10 overscroll-auto">
        <div class="basis-full">
            <!-- Course -->
            <div class="flex flex-col shadow rounded-2xl overflow-hidden bg-card">
                <!-- <div class="flex flex-col divide-y border-t border-b p-5"> -->

                <!-- <div class="flex flex-col shadow rounded-2xl overflow-hidden bg-card"> -->

                <!-- <carousel [cellsToShow]="1" [loop]="true" [autoplay]="true" [autoplayInterval]="3000">
                            <div class="carousel-cell" style="width:100% !important;">
                                <img src="https://i.ytimg.com/vi/pOrxcNTXylc/maxresdefault.jpg">
                            </div>

                        </carousel> -->

                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let item of images;">
                        <a [href]="item.url" target="_blank">
                            <div class="picsum-img-wrapper">
                                <img [src]="item.image">
                            </div>
                        </a>
                        <!-- <div class="carousel-caption">
                                <a [href]="item.url" target="_blank">
                                    <h3>กดเพื่อเปิดลิ้งค์</h3>
                                </a>
                            </div> -->
                    </ng-template>
                </ngb-carousel>
                <!-- </div> -->

                <!-- </div> -->
            </div>

            <div class="flex flex-col shadow rounded-2xl overflow-hidden bg-card mt-3">
                <div class="flex flex-col divide-y p-5">
                    <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate p-5">
                        ปฏิทินการสอบ
                    </div>
                    <full-calendar [options]="calendarOptions"></full-calendar>

                </div>
            </div>
        </div>
    </div>

</div>